<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bebidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <img alt="Silhouette of mountains" src='{{drink.strDrinkThumb}}' />

</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button  href="/drinks/alcoholic">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>Alcoholic </ion-label>
    </ion-tab-button>

    <ion-tab-button href="/drinks/non-alcoholic">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Non Alcoholic</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>


